/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a4d3e2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1rem;
}

@media screen and (max-width: 500px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column-reverse;
        margin-top: 3rem;
        background-image: url(https://images.unsplash.com/photo-1601342630314-8427c38bf5e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1891&q=80);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .working-pic {
        display: none;
    }


}

.left {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.working-pic {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.right {
    flex: 1;
    background-color: #ffffff85;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.myInput-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 0.2rem;
}

.mytodoList {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#clickforAdd {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clickforAdd:hover {
    background-color: #0056b3;
}

.todos {
    text-align: left;
    width: 100%;
}

ul {
    list-style: none;
}

li {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li button:hover {
    background-color: #ff0000;
}