à¸´* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: black;
}

.working-pic {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;

}

.mytodoList {
    width: 50%;
}

.right {
    background-color: rgb(184, 210, 225);
    border-radius: 0 5px 5px 0;
    padding: 1rem;
}

.myInput-container {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.addList {
    padding: 0;
    margin: 0;
}